*.d
*.o
*.obj
*.gch
*.pch
/build/
/CMakeFiles/
CMakeCache.txt
CMakeSecondaryUnsupported.txt
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
progress.marks
/include/edr.skel.h
/include/vmlinux.h
/external/ftxui/
tmp.file